<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>DM &#8211; Curso de Cuidador</title>
	<atom:link href="https://cursocuidador.com/tag/dm/feed/" rel="self" type="application/rss+xml" />
	<link>https://cursocuidador.com/</link>
	<description>Curso de Formação em Cuidadores de Idosos</description>
	<lastBuildDate>Tue, 04 Feb 2020 14:13:31 +0000</lastBuildDate>
	<language>pt-BR</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.3.2</generator>

<image>
	<url>https://cursocuidador.com/wp-content/uploads/2017/11/Help-Life-Logo-60x60.png</url>
	<title>DM &#8211; Curso de Cuidador</title>
	<link>https://cursocuidador.com/</link>
	<width>32</width>
	<height>32</height>
</image> 
	<item>
		<title>Dia Mundial da Diabetes</title>
		<link>https://cursocuidador.com/dia-mundial-da-diabetes/</link>
				<pubDate>Wed, 14 Nov 2018 16:39:08 +0000</pubDate>
		<dc:creator><![CDATA[Anna]]></dc:creator>
				<category><![CDATA[Sem categoria]]></category>
		<category><![CDATA[diabetes]]></category>
		<category><![CDATA[DM]]></category>
		<category><![CDATA[idoso]]></category>
		<category><![CDATA[saude]]></category>

		<guid isPermaLink="false">http://cursocuidador.com/?p=548</guid>
				<description><![CDATA[<p>Hoje, no dia Dia Mundial do Diabetes, campanhas no mundo todo vêm conscientizar a importância da prevenção e educação nos cuidados de pacientes com a doença. A data foi criada em 1991 pela Internation Diabetes Federation (IDF) em parceria com a Organização Mundial da Saúde (OMS). O dia 14 de novembro corresponde ao aniversário de <a class="more-link" href="https://cursocuidador.com/dia-mundial-da-diabetes/">Continuar lendo <i class="fa fa-chevron-right"></i></a></p>
<p>O post <a rel="nofollow" href="https://cursocuidador.com/dia-mundial-da-diabetes/">Dia Mundial da Diabetes</a> apareceu primeiro em <a rel="nofollow" href="https://cursocuidador.com/">Curso de Cuidador</a>.</p>
]]></description>
								<content:encoded><![CDATA[<p>Hoje, no dia Dia Mundial do Diabetes, campanhas no mundo todo vêm conscientizar a importância da prevenção e educação nos cuidados de pacientes com a doença. A data foi criada em 1991 pela <em>Internation Diabetes Federation</em> (IDF) em parceria com a Organização Mundial da Saúde (OMS). O dia 14 de novembro corresponde ao aniversário de Frederick Banting que juntamente com Charles Best, deu origem aos estudos da insulina no ano de 1921.</p>
<p>No Brasil, há mais de 13 milhões de pessoas vivendo com diabetes, o que representa 6,9% da população. E esse número está crescendo. Em alguns casos, o diagnóstico demora, favorecendo o aparecimento de complicações. Pode ser que você ou alguém próximo tenha diabetes. Saiba mais e aprenda a conviver bem com a doença, transformando-a em mais um motivo para cuidar da saúde.</p>
<p><strong>O Que é Diabetes? </strong></p>
<p>Diabetes é uma doença crônica na qual o corpo não produz insulina ou não consegue empregar adequadamente a insulina que produz.</p>
<p><strong>Mas o que é insulina?</strong></p>
<p>É um hormônio que controla a quantidade de glicose no sangue. O corpo precisa desse hormônio para utilizar a glicose, que obtemos por meio dos alimentos, como fonte de energia.</p>
<p>Quando a pessoa tem diabetes, no entanto, o organismo não fabrica insulina e não consegue utilizar a glicose adequadamente. O nível de glicose no sangue fica alto &#8211;&nbsp; a famosa hiperglicemia. Se esse quadro permanecer por longos períodos, poderá haver danos em órgãos, vasos sanguíneos e nervos.</p>
<p><img class="alignnone size-medium wp-image-554" src="https://cursocuidador.com/wp-content/uploads/2018/11/diabetes-300x280.jpg" alt="" width="300" height="280" srcset="https://cursocuidador.com/wp-content/uploads/2018/11/diabetes-300x280.jpg 300w, https://cursocuidador.com/wp-content/uploads/2018/11/diabetes.jpg 543w" sizes="(max-width: 300px) 100vw, 300px" /></p>
<h1>Fatores de Risco</h1>
<p>Já se sabe que há uma influência genética&nbsp; &#8211; ter um parente próximo com a doença aumenta consideravelmente as chances de você ter também. As pessoas que apresentam fatores de risco para o desenvolvimento de Diabetes Tipo 2 devem fazer consultas médicas periódicas e exames com frequência. Você deve ficar mais atento se:</p>
<ul>
<li>Tem diagnóstico de pré-diabetes – diminuição da tolerância à glicose ou glicose de jejum alterada<em>;</em></li>
<li>Tem pressão alta;</li>
<li>Tem colesterol alto ou alterações na taxa de triglicérides no sangue;</li>
<li>Está acima do peso, principalmente se a gordura estiver concentrada em volta da cintura;</li>
<li>Tem um pai ou irmão com diabetes;</li>
<li>Tem alguma outra condição de saúde que pode estar associada ao diabetes, como a doença renal crônica (veja em&nbsp;<em>Complicações</em>);</li>
<li>Teve bebê com peso superior a quatro quilos ou teve diabetes gestacional (veja em&nbsp;<em>Diabetes Gestacional</em>);</li>
<li>Tem síndrome de ovários policísticos;</li>
<li>Teve diagnóstico de alguns distúrbios psiquiátricos, como esquizofrenia, depressão, transtorno bipolar;</li>
<li>Tem apneia do sono;</li>
<li>Recebeu prescrição de medicamentos da classe dos glicocorticoides.</li>
</ul>
<p><strong>Sinais e Sintomas</strong></p>
<p>A maioria dos pacientes não apresenta sintomas no início do diabetes, por isto pessoas com fatores de risco devem realizar exames de sangue periódicos para avaliar se apresentam a doença. A estimativa é que 50% das pessoas não sabem que têm a doença. Por isso, o acompanhamento regular com um médico é essencial para o diagnóstico precoce.</p>
<p>Quando os níveis de glicose estão extremamente elevados, pode ocorrer vontade frequente de urinar, sede e fome em excesso, fadiga, alterações na visão, mudanças de humor, náuseas e vômitos, fraqueza, perda de peso, dores nas pernas, infecções repetidas na pele, machucados que demoram a cicatrizar, formigamento ou sensação de dormência, principalmente nos pés.</p>
<p><strong>O que é Diabetes Tipo 1?</strong></p>
<p>Em algumas pessoas, o sistema imunológico ataca equivocadamente as células beta. Logo, pouca ou nenhuma insulina é liberada para o corpo. Como resultado, a glicose fica no sangue, em vez de ser usada como energia. Esse é o processo que caracteriza o Tipo 1 de diabetes, que concentra entre 5 e 10% do total de pessoas com a doença.</p>
<p>O Tipo 1 aparece geralmente na infância ou adolescência, mas pode ser diagnosticado em adultos também. Essa variedade é sempre tratada com insulina, medicamentos, planejamento alimentar e atividades físicas, para ajudar a controlar o nível de glicose no sangue.</p>
<p><strong>O que é Diabetes Tipo 2?</strong></p>
<p>O Tipo 2 aparece quando o organismo não consegue usar adequadamente a insulina que produz; ou não produz insulina suficiente para controla a taxa de glicemia.</p>
<p>Cerca de 90% das pessoas com diabetes têm o Tipo 2. Ele se manifesta mais frequentemente em adultos, mas crianças também podem apresentar. Dependendo da gravidade, ele pode ser controlado com atividade física e planejamento alimentar. Em outros casos, exige o uso de insulina e/ou outros medicamentos para controlar a glicose.</p>
<p><strong>O que é</strong><strong> Diabetes Gestacional?</strong></p>
<p>Ocorre no período da gravidez por conta dos hormônios produzidos pela placenta. Após o parto a maioria dos casos se reverte.</p>
<p><strong>Prevenção</strong></p>
<p>O primeiro passo é observar a presença dos fatores de risco que podem ser modificados, como o excesso de peso, o aumento da gordura abdominal, o sedentarismo e a dieta desequilibrada.</p>
<p>A redução de 5% do peso corporal associada à pratica de 150 minutos de atividade física por semana reduzem a ocorrência de diabetes em 58% nas pessoas com alto risco. O principal aliado é um estilo de vida saudável, com alimentação balanceada, atividade física regular e acompanhamento médico periódico.</p>
<p>Fontes:</p>
<p>https://www.diabetes.org.br/</p>
<p>https://www.einstein.br/guia-doencas-sintomas/info/#14</p>
<p>&nbsp;</p>
<p>O post <a rel="nofollow" href="https://cursocuidador.com/dia-mundial-da-diabetes/">Dia Mundial da Diabetes</a> apareceu primeiro em <a rel="nofollow" href="https://cursocuidador.com/">Curso de Cuidador</a>.</p>
]]></content:encoded>
										</item>
	</channel>
</rss>
