<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>novembro azul &#8211; Curso de Cuidador</title>
	<atom:link href="https://cursocuidador.com/tag/novembro-azul/feed/" rel="self" type="application/rss+xml" />
	<link>https://cursocuidador.com/</link>
	<description>Curso de Formação em Cuidadores de Idosos</description>
	<lastBuildDate>Mon, 12 Nov 2018 15:01:55 +0000</lastBuildDate>
	<language>pt-BR</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.3.2</generator>

<image>
	<url>https://cursocuidador.com/wp-content/uploads/2017/11/Help-Life-Logo-60x60.png</url>
	<title>novembro azul &#8211; Curso de Cuidador</title>
	<link>https://cursocuidador.com/</link>
	<width>32</width>
	<height>32</height>
</image> 
	<item>
		<title>Novembro Azul</title>
		<link>https://cursocuidador.com/novembro-azul/</link>
				<pubDate>Mon, 12 Nov 2018 14:58:42 +0000</pubDate>
		<dc:creator><![CDATA[Anna]]></dc:creator>
				<category><![CDATA[Sem categoria]]></category>
		<category><![CDATA[idoso]]></category>
		<category><![CDATA[novembro azul]]></category>
		<category><![CDATA[saude]]></category>

		<guid isPermaLink="false">http://cursocuidador.com/?p=537</guid>
				<description><![CDATA[<p>O Novembro Azul é o mês mundial de combate ao câncer de Próstata Você sabia que 1 a cada 6 homens pode ter câncer de Próstata durante sua vida? Então saiba que 9 a cada 10 casos têm chances de cura quando diagnosticados cedo. Não deixe a saúde pra depois, o diagnóstico precoce pode salvar <a class="more-link" href="https://cursocuidador.com/novembro-azul/">Continuar lendo <i class="fa fa-chevron-right"></i></a></p>
<p>O post <a rel="nofollow" href="https://cursocuidador.com/novembro-azul/">Novembro Azul</a> apareceu primeiro em <a rel="nofollow" href="https://cursocuidador.com/">Curso de Cuidador</a>.</p>
]]></description>
								<content:encoded><![CDATA[<p style="text-align: left;"><strong>O Novembro Azul é o mês mundial de combate ao câncer de Próstata</strong></p>
<p>Você sabia que 1 a cada 6 homens pode ter câncer de Próstata durante sua vida?<br />
Então saiba que 9 a cada 10 casos têm chances de cura quando diagnosticados cedo.</p>
<p>Não deixe a saúde pra depois, o diagnóstico precoce pode salvar sua vida.<span class="text_exposed_show"><br />
Então saiba que 9 a cada 10 casos têm chances de cura quando diagnosticados cedo.</span></p>
<p><strong>O que é a próstata?</strong></p>
<p>É uma glândula do sistema reprodutor masculino, que pesa cerca de 20 gramas, e se assemelha a uma castanha. Ela localiza-se abaixo da bexiga e sua principal função, juntamente com as vesículas seminais, é produzir o esperma.</p>
<p><strong>Sintomas:</strong></p>
<p>Na fase inicial, o câncer de próstata não apresenta sintomas e quando alguns sinais começam a aparecer, cerca de 95% dos tumores já estão em fase avançada, dificultando a cura. Na fase avançada, os sintomas são:</p>
<p>• dor óssea;<br />
• dores ao urinar;<br />
• vontade de urinar com frequência;<br />
• presença de sangue na urina e/ou no sêmen.</p>
<p><strong>Fatores de risco:</strong></p>
<p>• histórico familiar de câncer de próstata: pai, irmão e tio;<br />
• raça: homens negros sofrem maior incidência deste tipo de câncer;<br />
• obesidade.</p>
<p><strong>Prevenção:</strong></p>
<p>A única forma de garantir a cura do câncer de próstata é o diagnóstico precoce. Mesmo na ausência de sintomas, homens a partir dos 45 anos com fatores de risco, ou 50 anos sem estes fatores, devem ir ao urologista para conversar sobre o exame de toque retal e sobre o exame de sangue PSA (antígeno prostático específico).</p>
<p>Fontes:</p>
<p>http://bvsms.saude.gov.br/ultimas-noticias/2535-novembro-azul-mes-mundial-de-combate-ao-cancer-de-prostata</p>
<p>http://agenciabrasil.ebc.com.br/geral/noticia/2017-11/novembro-azul-lembra-importancia-do-diagnostico-precoce-do-cancer-de-prostata</p>
<p>http://portaldaurologia.org.br/novembro-azul/</p>
<p>O post <a rel="nofollow" href="https://cursocuidador.com/novembro-azul/">Novembro Azul</a> apareceu primeiro em <a rel="nofollow" href="https://cursocuidador.com/">Curso de Cuidador</a>.</p>
]]></content:encoded>
										</item>
	</channel>
</rss>
