<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>qualidade &#8211; Curso de Cuidador</title>
	<atom:link href="https://cursocuidador.com/tag/qualidade/feed/" rel="self" type="application/rss+xml" />
	<link>https://cursocuidador.com/</link>
	<description>Curso de Formação em Cuidadores de Idosos</description>
	<lastBuildDate>Thu, 03 Jan 2019 19:32:03 +0000</lastBuildDate>
	<language>pt-BR</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.3.2</generator>

<image>
	<url>https://cursocuidador.com/wp-content/uploads/2017/11/Help-Life-Logo-60x60.png</url>
	<title>qualidade &#8211; Curso de Cuidador</title>
	<link>https://cursocuidador.com/</link>
	<width>32</width>
	<height>32</height>
</image> 
	<item>
		<title>6 Qualidades necessárias para cuidar de idosos</title>
		<link>https://cursocuidador.com/6-qualidades-necessarias-para-cuidar-de-idosos/</link>
				<pubDate>Thu, 03 Jan 2019 19:32:03 +0000</pubDate>
		<dc:creator><![CDATA[Anna]]></dc:creator>
				<category><![CDATA[Sem categoria]]></category>
		<category><![CDATA[cuidador]]></category>
		<category><![CDATA[idosos]]></category>
		<category><![CDATA[qualidade]]></category>
		<category><![CDATA[simpatia]]></category>

		<guid isPermaLink="false">http://cursocuidador.com/?p=571</guid>
				<description><![CDATA[<p>SIMPATIA Uma das melhores qualidades que um(a) cuidador(a) pode ter é simpatia por aquelas pessoas idosas que estão sendo cuidadas. Bons cuidadores(as) entendem que o idoso pode se sentir vulnerável, assustado, confuso e desconfortável, e ser capaz de identificar e acabar com estes medos, demonstrando uma sensação de calma e confiança para aquelas pessoas idosas <a class="more-link" href="https://cursocuidador.com/6-qualidades-necessarias-para-cuidar-de-idosos/">Continuar lendo <i class="fa fa-chevron-right"></i></a></p>
<p>O post <a rel="nofollow" href="https://cursocuidador.com/6-qualidades-necessarias-para-cuidar-de-idosos/">6 Qualidades necessárias para cuidar de idosos</a> apareceu primeiro em <a rel="nofollow" href="https://cursocuidador.com/">Curso de Cuidador</a>.</p>
]]></description>
								<content:encoded><![CDATA[<p><strong>SIMPATIA</strong></p>
<p>Uma das melhores qualidades que um(a) cuidador(a) pode ter é simpatia por aquelas pessoas idosas que estão sendo cuidadas. Bons cuidadores(as) entendem que o idoso pode se sentir vulnerável, assustado, confuso e desconfortável, e ser capaz de identificar e acabar com estes medos, demonstrando uma sensação de calma e confiança para aquelas pessoas idosas que estão sendo cuidadas.</p>
<p><strong>PACIÊNCIA</strong></p>
<p>As pessoas idosas que recebem cuidados normalmente não têm a capacidade de ser totalmente independente e autossuficiente, o que pode levar à frustração e a raiva. O(a) cuidador(a) deve ser capaz de separar a raiva e o ressentimento do idoso e não levar sua frustração para o lado pessoal.</p>
<p><strong>EXPECTATIVA REALISTA</strong></p>
<p>Pessoas idosas dependentes muitas vezes demoram mais tempo do que o normal para completar tarefas ou rotinas simples. Compreender as limitações de quem você cuida pode ajudar a reduzir a tensão no ambiente. Os(as) cuidadores(as) devem ser bem treinados(as) para reconhecer e incentivar a autossuficiência e a independência enquanto continuam a oferecer cuidado e atenção ao idoso. Ter expectativas realistas sobre o que um idoso sob seus cuidados é capaz de fazer pode ajudar você a fornecer um atendimento individualizado e adequado.</p>
<p><strong>FORTALEZA FÍSICA E MENTAL</strong></p>
<p>Cuidadores(as) ajudam as pessoas idosas com higiene pessoal, troca de fraldas, tratamento de feridas, de banho e outras rotinas. Um(a) cuidador(a) experiente não foge destas situações delicadas e tem capacidade física e psicológica para lidar quando o idoso passar mal (vomitar, ter diarreia ou urinar pela casa ou no sofá) . Um cuidador nunca repreende ou envergonha a pessoa idosa que cuida quando isso ocorrer.</p>
<p><strong>SERENIDADE E CALMA</strong></p>
<p>Cuidadores(as) devem saber manter-se calmos(as) e acalmar as pessoas idosas com quem trabalha. Os idosos em situações de dependência muitas vezes têm que ser solicitados a comer, beber e cooperar em algum outro cuidado. Ter uma voz de encorajamento e de serenidade é uma boa qualidade de um cuidador(a), como também a capacidade de acalmar e de tranquilizar aqueles idosos que estão sendo cuidados.</p>
<p><strong>CONFIANÇA</strong></p>
<p>A confiança é uma característica vital em um(a) cuidador(a). As pessoas idosas que recebem cuidados aprendem, com o tempo, a confiar e a depender de seus cuidadores(as). E nada melhor que a paciência, a serenidade, a simpatia e a fortaleza física e psicológica para gerar mais confiança ainda em seu trabalho de cuidador(a).</p>
<p>O post <a rel="nofollow" href="https://cursocuidador.com/6-qualidades-necessarias-para-cuidar-de-idosos/">6 Qualidades necessárias para cuidar de idosos</a> apareceu primeiro em <a rel="nofollow" href="https://cursocuidador.com/">Curso de Cuidador</a>.</p>
]]></content:encoded>
										</item>
	</channel>
</rss>
